/*  Animations Keyframes & Fonts    */


@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Light.otf") format("opentype");
}

@font-face {
  font-family: 'DosisB';
  src: url("../fonts/Dosis-Bold.otf") format("opentype");
}

@keyframes swirlyswirly {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swirly-swirly {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes zoomzoom {
  0%  {
        height: 54vh;
        top: 25%;
        left: 38%;
      }
  100% {
          width: 45em;
          height: 94vh;
          margin-top: -10.5%;
          margin-left: -9%;
          background-color: white;
          z-index: 99999999;
        }
}

@keyframes zoomzoomb {
  0%  {
    width: 45em;
    height: 94vh;
    margin-top: -10.5%;
    margin-left: -9%;
    background-color: white;
    z-index: 99999999;
      }
  100%  {
          height: 54vh;
          top: 25%;
          left: 38%;
          background-color: inherit;
          z-index: 0;
        }
}

@keyframes slideRight {
  100%{margin-left: 17.75%;}
}

@keyframes slideLeft {
  0%{margin-left: 16.6%;}
  100%{margin-left: 4em;}
}

@keyframes glow {
  0% {background-color: rgba(255, 255, 255, 0);}
  100% {background-color: #d82d2d;}
}

@keyframes reverse-glow {
  0%  {background-color: #d82d2d;}
  100% {background-color: rgba(255, 255, 255, 0);}
}

/*   END   */


/*   Basic Structure Body Container etc.   */

body{
  overflow: hidden;
  background: url(../Images/wave.gif);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid{
  background-color: rgba(255, 255, 255, 0.85);
  height: 100vh;
}

*{
  font-family: 'Dosis';
}

a{
  text-decoration: none;
  color: #d82d2d;
}

a:hover{
  text-decoration: none;
  color: #d82d2d;
}

.inner{
  height: 100vh;
  padding-top: 60vh;
}

.inner p{
  padding-top: 10vh;
}

.inner img{
  padding-top: 15vh;
  height: 12em;
}

/*   END   */

/*   Info Paragraph Styling   */

ol{
  list-style: none;
}

.info{
  float: right;
  margin-top: 17%;
  position: relative;
  color: #d82d2d;
}

.info li{
  position: absolute;
}

/*   END   */

/*   Title Text & Line   */

.title{
  color: #d82d2d;
  display: inline-block;
  position: absolute;
  margin-top: -74%;
  z-index: 99999;
  font-family: 'DosisB';
}

.title2{
  color: #d82d2d;
  display: inline-block;
  position: absolute;
  left: -2em;
  z-index: 99999;
  top: 43%;
  font-family: 'DosisB';
}

.studio{
  font-family: 'DosisB';
  color: black;
}

.t2-sqberry{
  font-family: 'DosisB';
  border-bottom: 1px solid black;
}

.prodDev{
  font-family: 'DosisB';
  font-size: 16px;
  margin-left: 19%;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.prodDev2{
  font-family: 'DosisB';
  font-size: 16px;
  margin-top: .5em;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

/*   END   */

/*   Navigation Menu & Menu Line   */

.navi{
  position: absolute;
  float: left;
  z-index: 99999;
  margin-top: 12%;
}

.grid{
  margin-bottom: 1em;
  margin-left: 6em;
  padding-right: 0;
  margin-right: -12.5%;
}

.grid h5{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  font-size: 16px;
}

.line{
  height: 80vh;
  width: 2px;
  margin-top: 4%;
  margin-left: 4em;
  background-color: #d82d2d;
  z-index: 99999;
  display: inline-block;
}

.line2{
  height: 5vh;
  width: 2px;
  margin-top: 1em;
  margin-left: 17.34%;
  background-color: #d82d2d;
  z-index: 99999;
  position: absolute;
  display: inline-block;
}

.slideLeft{
  animation: slideLeft 1.5s forwards;
}

.slideRight{
  animation: slideRight 1.5s forwards;
}

.menu{
  position: absolute;
  z-index: 100009;
  background-color: inherit;
  top: 45%;
  float: left;
}

.logo{
  position: absolute;
  z-index: 666;
  top: 40%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0)!important;
}

/*   END   */

/*   Shadow on Hover Styling   */

#flood-left {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #d82d2d;
  -moz-box-shadow: inset 0px 0 0 0 #d82d2d;
  -ms-box-shadow: inset 0px 0 0 0 #d82d2d;
  -o-box-shadow: inset 0px 0 0 0 #d82d2d;
  box-shadow: inset 0px 0 0 0 #d82d2d;
  color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#flood-left:hover {
  color: white;
  -webkit-box-shadow: inset -500px 0 0 0 #d82d2d;
  -moz-box-shadow: inset -500px 0 0 0 #d82d2d;
  -ms-box-shadow: inset -500px 0 0 0 #d82d2d;
  -o-box-shadow: inset -500px 0 0 0 #d82d2d;
  box-shadow: inset -500px 0 0 0 #d82d2d;
}

#flood-right {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #d82d2d;
  -moz-box-shadow: inset 0px 0 0 0 #d82d2d;
  -ms-box-shadow: inset 0px 0 0 0 #d82d2d;
  -o-box-shadow: inset 0px 0 0 0 #d82d2d;
  box-shadow: inset 0px 0 0 0 #d82d2d;
  color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#flood-right:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #d82d2d;
  -moz-box-shadow: inset 500px 0 0 0 #d82d2d;
  -ms-box-shadow: inset 500px 0 0 0 #d82d2d;
  -o-box-shadow: inset 500px 0 0 0 #d82d2d;
  box-shadow: inset 500px 0 0 0 #d82d2d;
}

.shadowfilter {
	   -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,1));
     -webkit-transition: all 0.5s linear;
	   -o-transition: all 0.5s linear;
     transition: all 0.5s linear;

}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 1));
}

.labels:hover a{
  color: white!important;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*   END   */

/*   Rotating Rings Circles & Labels    */

.jumbotron{
  border-radius: 100%!important;
  background: rgba(255, 255, 255, 1);
  border: 10px solid rgba(216, 45, 45, .5);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0!important;
  height: 25.5em;
  top: 25%;
  left: 38%;
  position: absolute;

}

.jumbotron1{
  border-radius: 100%!important;
  background: none;
  border: 10px solid rgba(216, 45, 45, .5);
  padding: 0!important;
  height: 25.5em;
  top: 25%;
  left: 38%;
  position: absolute;

}

.c0{
  animation: swirlyswirly 10s infinite linear;
}

.circle{
  animation: swirly-swirly 25s infinite linear;
  border: 10px solid rgba(216, 45, 45, .8);

}

.circle1{
  animation: swirly-swirly 10s infinite linear;
  border: 10px solid rgba(216, 45, 45, .6);
}

.circle2{
  left: 25%;
  height: 95vh;
  top: 2.5%;
  border: none;
  background: rgba(0, 0, 0, 0);
}

.labels{
  margin-top: 13em;
  background: rgba(255, 0, 0, 0);
}

.labels h5{
  display: inline-block;
}

.t{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*   END   */

/*   Animation Classes for Circles   */

.animate{
  animation: zoomzoom .5s forwards linear;
  animation-name: zoomzoom;
  animation-direction: normal;
}

.reverse-animate{
  animation: zoomzoomb 1s forwards linear;
  animation-name: zoomzoomb;
  animation-direction: normal;
}

/*   END   */

/*   AUDIO   */

.audio{
  float: right;
  right: -25%;
}

.mute{
  margin-top: 1em;
}

/*   END   */

/*   Removed Scrollbar, Because why the heck not?   */

::-webkit-scrollbar {
    display: none;
}

/*   Stylesheet END   */
