/*  Animations Keyframes & Fonts    */


@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Light.otf") format("opentype");
}

@font-face {
  font-family: 'DosisB';
  src: url("../fonts/Dosis-Bold.otf") format("opentype");
}

@keyframes swirlyswirly {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swirly-swirly {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes zoomzoom {
  0%  {
        height: 50vh;
        top: 0;
        left: 0;
      }
  100% {
          top: -20vh;
          left: -10vw;
          width: 45vw;
          height: 94vh;
          background-color: white;
          z-index: 99999999;
        }
}

@keyframes zoomzoomb {
  0%  {
    width: 45vw;
    height: 94vh;
    top: -20vh;
    left:-10vw;
    background-color: white;
    z-index: 99999999;
      }
  100%  {
          top: 0;
          left: 0;
          height: 50vh;
          background-color: inherit;
          z-index: 0;
        }
}

@keyframes slideRight {
  100%{margin-left: 17.75%;}
}

@keyframes slideLeft {
  0%{margin-left: 16.6%;}
  100%{margin-left: 4em;}
}

@keyframes glow {
  0% {background-color: rgba(255, 255, 255, 0);}
  100% {background-color: #d82d2d;}
}

@keyframes reverse-glow {
  0%  {background-color: #d82d2d;}
  100% {background-color: rgba(255, 255, 255, 0);}
}

/*   END   */


/*   Basic Structure Body Container etc.   */

body{
  background: url(../Images/wave.gif);
  background-position: top;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-size: 100vw 100vh;
}

.container-fluid{
  height: 100vh;
  overflow: hidden;
}

.landing{
  background-color: rgba(255, 255, 255, 0.92);
}

*{
  font-family: 'Dosis';
}

a{
  text-decoration: none;
  color: #d82d2d;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
  color: #d82d2d;
}

.inner{
  padding-top: 10vh;
  width: 80%;
}

.inner p{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.inner img{
  padding-top: 15vh;
  height: 12em;
}

.line3{
  background-color: #d82d2d;
  height: 1px;
  transform: rotate(45deg);
  top: 1.5em;
  left: 2.5em;
}

/*   END   */

/*   Info Paragraph Styling   */

ol{
  list-style: none;
}

.info{
  float: right;
  margin-top: 37%;
  position: relative;
  color: #d82d2d;
}

.info li{
  position: absolute;
}

/*   END   */

/*   Title Text & Line   */

.title{
  color: #d82d2d;
  display: inline-block;
  position: fixed;
  margin-top: -12.3%;
  z-index: 99999;
  font-size: 1.75vw;
  font-family: 'DosisB';
}

.title2{
  color: #d82d2d;
  display: inline-block;
  position: fixed;
  left: -2em;
  z-index: 99999;
  top: 42%;
  left: .1vw;
  font-size: 2vw;
  font-family: 'DosisB';
}

.studio{
  font-family: 'DosisB';
  color: black;
}

.t2-sqberry{
  font-family: 'DosisB';
}

.prodDev{
  font-family: 'DosisB';
  font-size: 1.25vw;
  margin-left: 19%;
  position: fixed;
  z-index: 9999;
  color: rgba(0, 0, 0, 0.5);
}

/*.prodDev2{
  font-family: 'DosisB';
  font-size: 1.25vw;
  margin-top: .5em;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}*/

/*   END   */

/*   Navigation Menu & Menu Line   */

.wrapper-menu{
  position: fixed;
  top: 33vh;
  left: .5em;
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 3.5em;
  margin-right: 1em;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 9999;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #d82d2d;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


.rotate{
  transform: rotate(-90deg);
  transition: .5s ease-in-out;
}

.reverse{
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}


.navi{
  top: 28vh;
  position: fixed;
  float: left;
  z-index: 99999;
}

.grid{
  margin-bottom: 1em;
  margin-left: 6em;
  padding-right: 0;
  margin-right: -12.5%;
}

.grid h5{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  font-size: 1.25vw;
}

.line{
  height: 80vh;
  position: fixed;
  width: 2px;
  margin-top: 4%;
  margin-left: 4em;
  background-color: #d82d2d;
  z-index: 99999;
  display: inline-block;
}

.line2{
  height: 5vh;
  width: 2px;
  margin-top: 1em;
  margin-left: 17.8%;
  background-color: #d82d2d;
  z-index: 99999;
  position: fixed;
  display: inline-block;
}

.slideLeft{
  animation: slideLeft 2.5s forwards;
}

.slideRight{
  animation: slideRight 1.5s forwards;
}

.menu{
  position: fixed;
  z-index: 100009;
  background-color: inherit;
  float: left;
}

.logo{
  position: absolute;
  z-index: 666;
  top: 40%;
  left: 4.5%;
  background-color: rgba(255, 255, 255, 0)!important;
}

/*   END   */

/*   Shadow on Hover Styling   */

#flood-left {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #d82d2d;
  -moz-box-shadow: inset 0px 0 0 0 #d82d2d;
  -ms-box-shadow: inset 0px 0 0 0 #d82d2d;
  -o-box-shadow: inset 0px 0 0 0 #d82d2d;
  box-shadow: inset 0px 0 0 0 #d82d2d;
  color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#flood-left:hover {
  color: white;
  -webkit-box-shadow: inset -500px 0 0 0 #d82d2d;
  -moz-box-shadow: inset -500px 0 0 0 #d82d2d;
  -ms-box-shadow: inset -500px 0 0 0 #d82d2d;
  -o-box-shadow: inset -500px 0 0 0 #d82d2d;
  box-shadow: inset -500px 0 0 0 #d82d2d;
}

#flood-right {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #d82d2d;
  -moz-box-shadow: inset 0px 0 0 0 #d82d2d;
  -ms-box-shadow: inset 0px 0 0 0 #d82d2d;
  -o-box-shadow: inset 0px 0 0 0 #d82d2d;
  box-shadow: inset 0px 0 0 0 #d82d2d;
  color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#flood-right:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #d82d2d;
  -moz-box-shadow: inset 500px 0 0 0 #d82d2d;
  -ms-box-shadow: inset 500px 0 0 0 #d82d2d;
  -o-box-shadow: inset 500px 0 0 0 #d82d2d;
  box-shadow: inset 500px 0 0 0 #d82d2d;
}

.shadowfilter {
	   -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,1));
     -webkit-transition: all 0.5s linear;
	   -o-transition: all 0.5s linear;
     transition: all 0.5s linear;

}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 1));
}

.labels:hover a{
  color: rgba(0, 0, 0, 0.5);!important;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*   END   */

/*   Rotating Rings Circles & Labels    */

#animBox{
  height: 50vh;
  top: 25vh;
  width: 25vw;
  left: 37.5vw;
  position: absolute;
}

.jumbotron{
  border-radius: 100%!important;
  background: inherit;
  border: 10px solid rgba(216, 45, 45, .5);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0!important;
  margin: 0!important;
  height: 100%;
  width: 100%;
  position: absolute;

}



.c0{
  animation: swirlyswirly 10s infinite linear;
}

.circle{
  animation: swirly-swirly 25s infinite linear;
  border: 10px solid rgba(216, 45, 45, .8);

}

.circle1{
  animation: swirly-swirly 10s infinite linear;
  border: 10px solid rgba(216, 45, 45, .6);
}

.circle2{
  height: auto;
  float: right;
  right: -35%;
  margin-top: 15%;
}

.labels{
  background: rgba(255, 0, 0, 0);
}

.labels h5{
  font-size: 1.5vw;
  margin-top: 1em;
}

.t{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*   END   */

/*   Animation Classes for Circles   */

.animate{
  animation: zoomzoom .3s forwards linear;
  animation-name: zoomzoom;
  animation-direction: normal;
}

.reverse-animate{
  animation: zoomzoomb 1.5s forwards linear;
  animation-name: zoomzoomb;
  animation-direction: normal;
}

/*   END   */

/*   AUDIO   */

.audio{
  float: right;
  right: -25%;
}

.mute{
  margin-top: 1em;
}
.play{
  padding-bottom: 1em;
}

/*   END   */

/*    **** Landing Panel End ****     */

/*  Model Panel  */

.modelPanel{
  height: 100vh;
  background-image: url(../Images/FG.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.textBox{
  height: 100vh;
  right: -4%;
}

.textBox h1{
  padding-top: 90%;
  font-size: 5vw;
}

/*    **** Model Panel End ****     */

/*    **** emTech Panel ****     */

.emTechPanel{
  height: 100vh;
}

.arInfoBox{
  right: 10%;
}

.arBox{
  background-image: url(../Images/ar.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.arInfoBox h1{
  font-size: 6.8vw;
}

.arInfoBox p{
  font-size: 1.6vw;
  margin-left: 15%;
}

.vrBox{
  background-image: url(../Images/vr.png);
  height: 100vh;
  margin-left: 0%;
  z-index: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.vrInfoBox{
  z-index: 1;
}

.vrInfoBox h1{
  font-size: 6.8vw;
  margin-left: -15%;
}

.vrInfoBox p{
  font-size: 1.6vw;
  margin-right: 4vw;
}

.white{
  color: white;
}

.red{
  color: #d82d2d;
}

/*    **** emTech Panel End ****     */

/*    **** redesign Panel ****     */

.redesignPanel{
  height: 50vh;
  margin-top: 25vh;
  margin-bottom: 25vh;
  background-image: url(../Images/rd.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.redesignPanel h1{
  font-size: 8vw;
  padding-top: 30%;
}

.redesignPanel p{
  font-size: 1.5vw;
}

.button h2{
  color: white;
}

/*    **** redesign Panel End ****     */

/*    **** team Panel ****     */

.teamPanel{
  height: 98vh;
  margin-top: 5vh;
}

.teamHead{
  background-color: rgba(255, 0, 0, 0.5);
  height: 20vh;
}

.teamHead h1{
  font-size: 7vw;
  color: white;
}

.fill{
  height: 25vh;
}

.teamAnimation{
  height: 50vh;
}

.teamAnimation h1{
  margin-top: 120%;
  font-size: 2vw;
}

.teamAnimation p{
  font-size: 1vw;
}

.tA1{
    background-image: url(../Images/z.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tA2{
    background-image: url(../Images/s1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tA3{
    background-image: url(../Images/s2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*    **** team Panel End ****     */

/*    **** client Panel End ****     */

.clientPanel{
    height: 98vh;
    margin-top: 2vh;
}

.clientHead{
  background-color: rgba(255, 0, 0, 0.5);
  height: 20vh;
  color: white;
}

.clientHead h1{
  font-size: 7vw;
}

/*    **** client Panel End ****     */

/*    **** Footer ****     */

.footer{
  height: 35vh;
  left: 5vw;
  margin-bottom: 2vh;
}

.footerBlocks{
  background-color: #2E2E2E;
  margin: 2vw;
  height: 100%;
}

/*    **** Footer End ****     */

/*    **** Button ****     */

.button{
  height: 10vh;
  width: 6em;
  margin-top: 40vh;
  position: absolute;
  left: 94%;
  z-index: 9999;
  background-color: rgba(255, 0, 0, 0.5);
}

.button h1{
  font-size: 2vw;
  color: white;
}

.rD{
  margin-top: 25vh;
}

.rD h1{
  font-size: 2vw;
  margin-left: 0vw;
  margin-top: 1.5vw;
  color: white;
}

/*    **** Button End ****     */

/*   Removed Scrollbar, Because why the heck not?   */

::-webkit-scrollbar {
    display: none;
}

/*   Desktop Stylesheet END   */

@media (max-width: 899px) and (min-width: 680px){
  .logo{
    margin-left: 55.5vh;
    width: 15vw;
  }
  .textBox h1{
    padding-top: 70%;
  }
  .title{
    margin-top:-12%;
  }
  .navi{
    top: 20vh;
  }
  .grid{
    margin-left: 1em;
    text-align: right;
  }
  .grid h5{
    font-size: 3vh;
  }
  .line{
    margin-top: 5%;
  }
  .jumbotron{
    width: 45vh;
    height: 50vh;
  }
  .wrapper-menu{
    height: 25px;
    width: 25px;
  }
}

@media (max-width:756px) {
  body{
    overflow-x: hidden!important;
  }
  .container-fluid{
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .logo{
    height: 40vw;
    left: 30vw!important;
    margin-top: 7vh;
  }
  #animBox{
  height: 100vw;
  width: 85vw;
  padding-top: 7vh;
  overflow: hidden;
  top: 20vh!important;
  left: 8.5vw!important;
  position: absolute;
}
  .title{
    font-size: 6vw;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    z-index: 0;
  }
  .title2{
    font-size: 6vw;
    top: 85%;
    left: 10%;
    position: absolute;
  }
  .menu{
  }
  .navi{
    top: 0;
    position: static;
    background-color: white;
    height: 100%;
    position: fixed;
    border-right: 2px solid #d82d2d;
    overflow: hidden;
    left: 0;
  }
  .navi .title{
    bottom: 10em;
    left: -3.4em;
    font-size: 2em;
    transform: rotate(90deg);
  }
  .grid{
    padding-top: 9vh;
    height: 5vh;
    margin-right: 5%;
    border: none;
  }
  .grid h5{
    font-size: 5vw;
  }
  .jumbotron{
    height: 45vh;
  }
  .logo{
    left: 0vw;
    top: 30vh;
  }
  .white{
    color: black;
  }
  .modelPanel{

  }
  .textBox{
      padding-top: 25%;
  }
  .textBox h1{
    font-size: 7vh;
  }
  .arInfoBox{
    height: auto;
  }
  .vrInfoBox{
    height: auto;
  }
  .arBox{
    padding: 0;
    margin: 0;
    height: 70vh;
  }
  .vrBox{
    height: 70vh;
  }
  .arInfoBox  p{
    font-size: 4vh;
    margin: 0;
    padding: 0;
  }
  .vrInfoBox  p{
    font-size: 4vh;
    margin: 0;
    padding: 0;
  }
  .emTechPanel{
    min-height: 150vh;
    height: auto;
  }
  .emTechPanel h1{
    font-size: 7vh;
    margin: 0;
    padding: 0;
  }
  * .text-left, .text-right{
    text-align: center;
  }
  .button{
    left: 85%;
    z-index: 999;
    width: 15vw;
  }
  .button h1{
    font-size: 8vw;
    margin-top: 15%;
  }
  .rD .glyphicon{
    margin-top: 1%;
  }

  .redesignPanel{
    height: 100vh;
    display: block;
  }
  .redesignPanel h1{
    font-size: 7vh;
  }
  .redesignPanel p{
    margin-top: 75%;
    font-size: 5vh;
    padding-top: 18vh; 
  }
  .teamPanel{
    height: 250vh;
  }
  .teamAnimation{
    height: 50vh;
    margin-bottom: 65%;
  }
  .teamAnimation h1{
    font-size: 8vw;
  }
  .teamAnimation p{
    font-size: 4vw;
  }
  .animBox{
    position: relative;
    height: auto;
    overflow-x: none;
  }
  .wrapper-menu{
    top: 0;
  }
  .modelPanel{
    top: 0;
  }
}
